<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                    <a href="/pag1"> pag1 </a> <br>
            </li>
            <li>
                    <a href="/pag2"> pag2 </a> <br>
            </li>
            <li>
                    <a href="/pag3"> pag3 </a> <br>
            </li>
        </ul>
    </nav>

    <p style="color: indianred; font-size: 40px" f>
         pagina uno
    </p>
</body>
</html>